// section animation skills
.animation_skills {
    width: 100%;
    background-color: #1D1B1B;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5rem;
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
}

.container_animation-skills,
.box_animation {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.box_animation {
    width: 100%;
    display: flex;
    align-items: center;
    animation: rollText 25s linear infinite;
}

.animation_on {
    width: 100%;
    display: flex;
    align-items: center;
    // animation: rollText 5s linear infinite;
}

.animation_skills-true {
    color: #fff;
}

.animation_skills-false {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

@keyframes rollText {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@media(max-width: 800px) {
    .box_animation {
        animation: rollText 10s linear infinite;
    }

    .container_animation-skills,
    .box_animation {
        gap: 5rem;
    }
}