.container_footer {
    text-align: center;
    padding: 2rem;
}
.contact_footer {
     display: flex;
     align-items: center;
     gap: 1rem;
     justify-content: center;
     margin-bottom: 1rem;
}

.mail-pus {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}