* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #000;
    color: #f1f1f1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
}

@media(max-width: 800px) {
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}